//
   Created by Alexander Davidenko 
   @date 12/1/17.
extends ../../../index

block content
  div number: #{episode.number}
  div name: #{episode.name}
  div description: #{episode.description}
  div poster:
    img(src="#{episode.poster}")
  div year: #{episode.year}
  if episode.progress
    div is watched: #{episode.progress.isWatched}
    div time: #{episode.progress.time}
  a(href="/series/#{series._id}/season/#{season._id}/episode/#{episode._id}/edit") edit
  br
  a(href="/series/#{series._id}/season/#{season._id}/episode") list of episodes