doctype html

html
  head
    title= title
  body
    ul
      li
        a(href="/") index
      if user
        li
          a(href="/logout") logout
      else
        li
          a(href="/login") login
        li
          a(href="/signup") sign up
      li
        a(href="/series") series
    h1= message
    block content
      if user
        h2 hello #{user._id}
      ul
        each series in seriesList
          li
            a(href="series/#{series._id}") #{series.name}
            ul
              each season in series.seasons
                li
                  a(href="series/#{series._id}/season/#{season._id}") #{season.name}
                ul
                  each episode in season.episodes
                    li
                      a(href="series/#{series._id}/season/#{season._id}/episode/#{episode._id}") #{episode.name}
                      span #{episode.progress.time}

