extends ../../index

bllock content
  div number: #{season.number}
  div name: #{season.name}
  div description: #{season.description}
  div poster:
    img(src="#{season.poster}")
  div year: #{season.year}
