extends ../index

block content
  div name: #{series.name}
  div description: #{series.description}
  div poster:
    img(src="#{series.poster}")
  div year: #{series.year}
  if series.progress
    div is watched: #{series.progress.isWatched}
    div time: #{series.progress.time}

  div
    a(href="/series/#{series._id}/edit") edit
  div
    form(method="post" action="?_method=DELETE")
      input(type="hidden" name="_csrf" value="#{_csrf}")
      input(type="submit" value="delete")
  div
    a(href="/series/#{series._id}/season") seasons list
