extends ../index

block content
  div name: #{series.name}
  div description: #{series.description}
  div poster:
    img(src="#{series.poster}")
  div year: #{series.year}

  div
    a(href="/series/#{series._id}/season") seasons list
